
Data/Baseline_FM2Sim_GW_HeadAll_Elements.csv
Data/Initial_FM2Sim_GW_HeadAll_Elements.csv
Data/Intermediate_FM2Sim_GW_HeadAll_Elements.csv
Data/Robust_FM2Sim_GW_HeadAll_Elements.csv
README.md
Poster_figures/Final_poster.pdf
Poster_figures/Final_poster_2.pptx
Poster_figures/Final_poster_r.pdf
Poster_figures/hires_Baseline_GW_confined_aa_boxplot.png
Poster_figures/hires_confined_compare_strategies_del.png
Poster_figures/hires_DAC_confined_compare_strategies_del.png
Poster_figures/hires_GWD_confined_compare_strategies_del.png
Poster_figures/SUB_confined_compare_strategies_del.png
Figures.pptx
ECI193_Update_Presentation.pdf
Final poster and report/aquifers.jpg
Final poster and report/art.png
Final poster and report/ECI 193 Poster  (48 × 36 in) (2).png
Final poster and report/Final_poster (1).pptx
Final poster and report/Final_poster.pptx
Final poster and report/images.jfif
Final poster and report/report_figures.pptx
Final poster and report/Screen-Shot-2018-05-13-at-20.55.06-1024x643.png
Final poster and report/Video Presentation.pptx
scrap.py
